$bg: rgb(238, 238, 238);

body {
  background: $bg;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  .brand {
    flex-grow: 1;
    .slogan,
    .brand-icon {
      display: inline-block;
    }
  }
  .right-menu {
    li {
      display: inline-block;
    }
  }
}
